.profile-component {
  .header-main-profile {
    padding: 0 50px 0 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    .image-container {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        max-height: 100%;
      }
    }
    .name-and-role-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 10px 0;
      .name-title {
        font-size: 24px;
        font-weight: 700;
      }
      .role-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 19px;
        font-weight: 400;
      }
    }

    .email-profile {
      color: rgba($color: #7c7c7c, $alpha: 0.7);
    }
    .creation-date {
      align-self: flex-end;
      padding: 0 0 20px 0;
    }
  }
  .body-main-profile {
    width: 100%;
    height: calc(100vh - 400px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .messages-list-container {
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .messages-count {
        padding: 0 0 15px 0;
        font-size: 18px;
        font-weight: 500;
      }
      .messages-list {
        overflow-y: auto;
        width: 100%;
        .message-card {
          &:hover {
            background: rgba(128, 128, 128, 0.05);
          }
          display: flex;
          flex-direction: row;
          width: calc(100% - 6px);
          padding: 8px 3px 8px 3px;
          justify-content: space-between;
          position: relative;
          .content {
            text-align: justify;
            overflow-wrap: break-word;
          }
          .bottom-part {
            width: max-content;
            float: right;
            height: 100%;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            shape-outside: inset(calc(100% - 100px) 0 0);
            .data {
              width: max-content;
              color: rgba($color: #7c7c7c, $alpha: 0.5);
              a {
                display: none;
              }
            }
          }
        }
      }
    }
    .point-profile {
      width: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
